* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
	background-image:url(../images/keyboard.jpg);
}


/*STARTING HEADER*/
.holder {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
	
}

.banner {
	height: 140px;
	border: 1px solid black;
	background-image:url(../images/bannerpassword.jpg);
}


/*STARTING MENU*/
.menu {
	float:right;
	margin-right: 80px;
	font-family:Tahoma, Geneva, sans-serif;
	color: #000;
	text-align:center;
	border-radius: 10px;
	outline: none;
	
}

.menu li {
	list-style-type:none;
	text-decoration:none;
	display:inline-block;
	background-color:#ccc;
	padding: 10px 0 10px 0;
	outline: none;

}

/* default state */
a {
	text-decoration:none;
	color: #000;
	padding: 10px 20px;
	background-color: #ccc;
	border-radius: 10px;
	outline: none;
}

    /* user is actively pressing the cursor down on the button */
  
 a:visited {
	color: #000;
	outline: none;
}

  a:hover {
	background: red;
	outline: none;
  }
  


/*ENDING MENU*/
/*ENDING HEADER*/


/*SEPARATOR*/
.separation {
	background-image:url(../images/separator.png);
	background-repeat:repeat-x;
	height: 10px;
}

/*ENDING SEPARATOR*/


/*STARTING ABOUT ME*/

.content {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }


.about {
    width: 650px;
	height:250px;
    padding: 20px;
    overflow: hidden;
	margin-left: 50px;
}

.about img {
    margin-right: 15px;
    float: left;
	width:200px;
	height: 140px;
	border-radius: 10px;
	
	
}

.about h1 {
	font-family:Tahoma, Geneva, sans-serif;
}

.about p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
	
	
}

/*ENDING ABOUT ME*/


/*STARTING MY WORK*/
.work {
    width: 500px;
	min-height:250px;
    padding: 20px;
    overflow: hidden;
	margin-left: 50px;
	float:left;
}

.work img {
    margin-right: 15px;
    float: left;
	width:200px;
	height: 140px;
	border-radius: 10px;

}

.work h1 {
	font-family:Tahoma, Geneva, sans-serif;
}

.work p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}



.work-right {
    width: 500px;
	min-height:250px;
    padding: 30px;
    overflow: hidden;
	margin-left: 50px;
}

.work-right img {
    margin-right: 15px;
    float: left;
	width:200px;
	height: 140px;
	border-radius: 10px;
	
}

.work-right h1 {
	font-family:Tahoma, Geneva, sans-serif;
}


.work-right p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}


/*ENDING MY WORK*/


/*STARTING MY CONTACT*/
.contact {
    width: 60%;
    padding: 20px;
    overflow: hidden;
	margin-left: 50px;
}


h1 {
	color: #FFF;
	margin: 10px 0 10px 0;
	height: 50px;
	display: center;
}

p {
	color: rgb(204, 248, 138);
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
}


.contact h1 {
	font-family:Tahoma, Geneva, sans-serif;
	display: right;

}

.contact p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
	text-align:center;
}

.contact-form {
	padding: 7px 15px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 10px;
	float: center;
	color: #024e76;
	
}



.contact-form input, .contact-form textarea {

	border: 1px solid #fd3fc4;
	display: block;
	padding: 7px 15px;
	font-size: 16px;
	color: #024e76;
	width: 40%;
	margin-bottom: 15px;
	margin-top: 10px;
	float: center;
	
	}

	.contact-form button {
		width: 40%;
		border: none;
		background-color: #fce138;
		color: #fd3fc4;
		padding: 15px 30px;
		text-align: center;
		margin-bottom: 15px;
	    margin-top: 10px;
		float: left;

	}


/*ENDING MY CONTACT*/



/*STARTING MY FOOTER*/
.footer {
	color: orange;
	text-align:center;
	background-color: #444;
	padding-top: 15px;
	padding-bottom: 20px;
}

.footer p {
	color: #FFF;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
}

/*ENDING MY FOOTER*/




/*STARTING SMALLER SCREENS*/
@media screen and (max-width: 980px) {

	  
	  
  }

  @media screen and (max-width: 768px) {

	section {
	  padding: 30px 15px;
	}
  }

  /*ENDING SMALLER SCREENS*/